[Desktop Entry]
Name=WvDialer
GenericName=WvDial connector
Type=Application
Categories=Utility;Network;Qt;
Icon=WvDialer
Exec=WvDialer
Terminal=false
StartupNotify=true
